
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="/Admin/AddBlogCategory" class="w-50">
    <input type="hidden" id="@Model.Id" />
    <div class="modal-body">
        <div class="mb-3">
            <label for="name" class="form-label">Category</label>
            <input type="text" name="BlogCategory" value="@Model.BlogCategory" class="form-control" required />
        </div>
        <!-- Add more fields as needed -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

