
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="@Url.Action("EditCategory","Admin")" class="w-50">
    <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
    <div class="modal-body">
        <div class="mb-3">
            <label for="name" class="form-label">Category</label>
            <input type="text" name="BlogCategoryName" value="@Model.BlogCategoryName" class="form-control" required />
        </div>
        <!-- Add more fields as needed -->
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>

<script>
    @if (TempData["error"] != null)
         {
    <text>
        Swal.fire({
            icon: 'error',
            title: 'Login Failed',
            text: '@TempData["error"]',
            timer: 2000,
            showConfirmButton: false
        });
    </text>
}
</script>