
@{
    ViewBag.Title = "Who We Are | Barrownz Group";
    ViewBag.MetaDescription = "We are a trusted leader in web development and digital marketing. Learn about our expert team, innovative solutions, and commitment to delivering success for businesses worldwide.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="hero_sction_common container-fluid about_hero">
    <div class="container position-relative py-4">
        <div class="line bg-primary position-relative d-flex align-items-start justify-content-center">
            <div class="dot bg-primary position-absolute"></div>
            <div class="indicate bg-primary position-absolute"></div>
            <div class="indicate_1 bg-primary position-absolute"></div>
        </div>
        <div class="position-absolute about_holder">
            <h1 class="Hover_text">We Develop,<img src="~/Content/icon_image/barrownz-logo-2021.png" class="img-fluid p-1" style="width:50px; height:50px; border:1px solid black; border-radius:50%;" />  We Market, You Grow. </h1>
        </div>
        <div class="position-absolute about_holder_2">
            <p>At Barrownz Group, we offer top-quality web development and digital marketing services. We help build strong brand strategies, design custom websites, and create smart marketing plans that help your business connect with more people and grow faster.</p>
        </div>
    </div>
</div>

<div class="container-fluid mt-5 py-5">
    <div class="container position-relative">
        <h2 class="text-center py-2 mb-3">Who We Are</h2>
        <!--This section available for Big device-->
        <div class="row Big_device">
            <div class="col-lg-5 col-md-12 width_in">
                <div class="row d-flex flex-column gap-5">
                    <!--Here First image section start-->
                    <div class="col-lg-4 w-100 ">
                        <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image1.webp" class="img-fluid rounded-1" />
                    </div>
                    <!--Here First image section end-->
                    <!--Here second content section start-->
                    <div class="col-lg-4 w-100">
                        <p>Our goal is to become one of the best web development and digital marketing companies in the coming years. We aim to be a trusted, one-stop solution for all digital needs—whether it's designing a new website, creating digital campaigns, or improving online visibility. We want our clients to rely on us for everything digital, knowing they are in good hands. At Barrownz Group, we move with the flow of technology, and we’re excited about the future ahead. Our team works with a passion for technology and creativity. We don’t just build websites; we build strong online identities.</p>
                    </div>
                    <!--Here second content section end-->
                    <!--Here third image section start-->
                    <div class="col-lg-4 w-100">
                        <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image3.webp" class="img-fluid rounded-1" />
                    </div>
                    <!--Here third image section end-->
                </div>
            </div>

            <div class="col-lg-2 d-flex justify-content-center position-relative hider">

                <div class="center_line bg-primary position-relative  d-flex align-items-start justify-content-center ">
                    <div class="dot bg-primary position-absolute"></div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center">
                        <i class="fa-solid fa-arrow-left text-primary lefting"></i>
                    </div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center justify-content-end">
                        <i class="fa-solid fa-arrow-right text-primary righting"></i>
                    </div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center justify-content-start">
                        <i class="fa-solid fa-arrow-left text-primary lefting"></i>
                    </div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center justify-content-end">
                        <i class="fa-solid fa-arrow-right text-primary righting"></i>
                    </div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center justify-content-start">
                        <i class="fa-solid fa-arrow-left text-primary lefting"></i>
                    </div>
                    <div class="line_indi bg-primary position-absolute d-flex align-items-center justify-content-end">
                        <i class="fa-solid fa-arrow-right text-primary righting"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 width_in">
                <div class="row flex-column gap-5 text_rows">
                    <!--Here First content section start-->
                    <div class="col-lg-4 w-100">
                        <p>We have been working in the web development and digital marketing industry for over 9 years. Over this time, we have gained deep experience and knowledge in many areas, including website design and development, digital marketing strategies, graphic design, and content creation. We always stay updated with the latest tools, trends, and technologies so we can deliver modern and effective solutions to our clients. Whether it’s a new programming language, a fresh marketing trend, or creative design ideas, we keep learning and growing to offer the best services. </p>
                   </div>
                    <!--Here First icontent section start-->
                    <!--Here second image section start-->

                    <div class="col-lg-4 w-100">
                        <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image2.webp" class="img-fluid dev" />
                    </div>
                    <!--Here second image section end-->
                    <!--Here third content section start-->
                    <div class="col-lg-4 w-100">
                        <p>
                            All our clients are happy and satisfied with our web development and digital marketing services because we focus on real results. We always give honest information about what we offer and never make false promises. Our team works hard to provide 100% guaranteed success and high-quality service every time. We believe in being clear, reliable, and professional in everything we do. If you choose to partner with us, we are confident you will never be disappointed. We are fully committed to delivering the best work possible and helping your business grow online. At Barrownz Group, your success is our top priority.
                        </p>
                    </div>
                    <!--Here third content section start-->

                </div>
            </div>
        </div>

        <!--This section available for sm and  md size start-->
        <div class="row py-3 sm-md-available">
            <div class="col-lg-4 w-100 ">
                <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image1.webp" class="img-fluid rounded-1" />
            </div>
            <div class="col-lg-4 w-100">
                <p class="py-3">We have been working in the web development and digital marketing industry for over 9 years. Over this time, we have gained deep experience and knowledge in many areas, including website design and development, digital marketing strategies, graphic design, and content creation. We always stay updated with the latest tools, trends, and technologies so we can deliver modern and effective solutions to our clients. Whether it’s a new programming language, a fresh marketing trend, or creative design ideas, we keep learning and growing to offer the best services. </p>
            </div>
        </div>
        <div class="row sm-md-available">

            <div class="col-lg-4 w-100 sm-md-available">
                <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image2.webp" class="img-fluid dev" />
            </div>
            <div class="col-lg-4 w-100">

                <p class="py-3">Our goal is to become one of the best web development and digital marketing companies in the coming years. We aim to be a trusted, one-stop solution for all digital needs—whether it's designing a new website, creating digital campaigns, or improving online visibility. We want our clients to rely on us for everything digital, knowing they are in good hands. At Barrownz Group, we move with the flow of technology, and we’re excited about the future ahead. Our team works with a passion for technology and creativity. We don’t just build websites; we build strong online identities.</p>

            </div>
        </div>
        <div class="row py-3 sm-md-available">
            <div class="col-lg-4 w-100">
                <img src="~/Content/Image_Terms_Privacy_copyright_Portfolio/Image3.webp" class="img-fluid rounded-1" />
            </div>
            <div class="col-lg-4 w-100">

                <p class="py-3">All our clients are happy and satisfied with our web development and digital marketing services because we focus on real results. We always give honest information about what we offer and never make false promises. Our team works hard to provide 100% guaranteed success and high-quality service every time. We believe in being clear, reliable, and professional in everything we do. If you choose to partner with us, we are confident you will never be disappointed. We are fully committed to delivering the best work possible and helping your business grow online. At Barrownz Group, your success is our top priority.</p>

            </div>
        </div>
        <!--This section available for sm and  md size end-->

    </div>
</div>

<div class="container-fluid">
    <div class="container py-4">
   <div class="Choose_us_hoders text-center">
       <h2>Why Choose Us?</h2>
       <p>
           We deliver smart solutions with real care, helping your business grow faster and stronger every day.
       </p>
   </div>
   <div class="row">
       <div class="col-lg-4 position-relative py-5">
           <div class="center d-flex align-items-center justify-content-center flex-column border border-primary rounded-3 py-5">
               <div class="iconss rounded-5 py-2" style="width:80px;">
                   <img src="~/Content/icon_image/Team.png" class="img-fluid" />
               </div>
               <h3>Expert Team</h3>
               <p class="text-center">
                   Skilled minds, creative ideas,<br /> powerful digital results.

               </p>
           </div>
           <div class="ball"></div>
       </div>
       <div class="col-lg-4 position-relative py-5">
           <div class="center d-flex align-items-center justify-content-center flex-column border border-primary py-5 rounded-3">
               <div class="iconss rounded-5 py-2" style="width:80px;">
                   <img src="~/Content/icon_image/Target.png" class="img-fluid" />
               </div>
               <h3>24/7 Support</h3>
               <p class="text-center">
                   Always here, always ready<br /> to help you.
               </p>
           </div>
           <div class="ball"></div>
       </div>
       <div class="col-lg-4 position-relative py-5">
           <div class="center d-flex align-items-center justify-content-center flex-column border border-primary py-5 rounded-3">
               <div class="iconss rounded-5 py-2" style="width:80px;">
                   <img src="~/Content/icon_image/success.png" class="img-fluid" />
               </div>
               <h3>Real Results</h3>
               <p class="text-center">
                   Strategies that work, success<br /> you can see.
               </p>
           </div>
           <div class="ball"></div>
       </div>

   </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
                <h2>We Deliver What We Promise </h2>
                <p>We keep our promises with reliable, high-quality work that meets your expectations every time.</p>
            </div>
            <div class="col-lg-4 ">
                <img src="~/Content/img/about.jpg"  class="img-fluid rounded-5"/>
            </div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
                <div class="py-4">
                    <p>Our clients are consistently happy, with a satisfaction rate that speaks for itself. We focus on delivering results that exceed expectations, ensuring every project brings value and success. </p>
                </div>
            </div>
        </div>
    </div>
</div>