
@{
    ViewBag.Title = " Copyright Information | Barrownz Group";
    ViewBag.MetaDescription = " Learn about the copyright rules for content and services by Barrownz Group. Know how we protect our work and respect others' rights.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="Copyright d-flex align-items-center justify-content-center flex-column ">
    <div class="layer d-flex align-items-center justify-content-center flex-column">
        <h1 class="text-white first_heading text-center animated zoomIn carousel_text Expert">
            Copyright Notice
        </h1>
        @*<p class="text-white first_second text-center animated zoomIn carousel_text px-2">We’re a team of 300+ SEO experts working with the largest brands in India towards one clear goal: achieving business growth online.</p>*@

    </div>
</div>

<div class="container-fluid py-5 mt-2">
    <div class="container">
        <p>©2025 <b>Barrownz Group.</b> All rights reserved.</p>
        <p>All content, including but not limited to text, images, graphics, logos, videos, software, and other materials (collectively, the "Content") on this website are the property of <b>Barrownz Group</b> or its licensors and are protected by United States and international copyright laws.</p>
        <p>You may not copy, reproduce, distribute, transmit, display, or create derivative works from any part of this website's Content without the express written permission of <b>Barrownz Group,</b> except for personal, non-commercial use as permitted under the "Use License" section of the Terms and Conditions.</p>
        <p>
            For inquiries regarding permissions or licensing, please contact us at <a href="http://www.barrownz.us" class="text-decoration-underline">barrownz.us</a>
        </p>
    </div>
</div>


