
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<!-- Spinner End -->
<!-- Navbar & Carousel Start -->
<div class="container-fluid position-relative p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/Content/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Development</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn  carousel_text">Website Development</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft button_text">FIND YOUR SOLUTION</a>
                        <a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight button_text">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="~/Content/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Marketing</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn carousel_text">Digital Marketing</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft button_text">FIND YOUR SOLUTION</a>
                        <a href="#" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight button_text">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item ">
                <img class="w-100" src="~/Content/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Seo</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn  carousel_text">Search Engine Optimization</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft button_text">FIND YOUR SOLUTION</a>
                        <a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight button_text">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <img class="w-100" src="~/Content/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown">Design</h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn carousel_text">Graphic UI/UX</h1>
                        <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft button_text">FIND YOUR SOLUTION</a>
                        <a href="#" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight button_text">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="height:30px;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" style="height:30px;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Navbar & Carousel End -->
<!-- Facts Start -->
<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="world text-center pt-3 text-light fw-bold fs-4 wow zoomIn" data-wow-delay="0.1s" style="background: #0307084b;">
                <p>Worldwide Presents</p>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.1s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class=" d-flex align-items-center justify-content-center rounded mb-2 p-1" style="width: 100px; height: 75px;">
                        <img src="~/Content/flag_gif/indian_flag.webp" alt="" class="img-fluid">
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0 fw-bold">Barrownz.com</h5>
                        <p class="text-white" style="font-size:12px;">Barrownz Group 2/90, Vastu Khand Gomti Nagar Lucknow 226010,INDIA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.3s">
                <div class="bg-light shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class=" d-flex align-items-center justify-content-center rounded mb-2 p-2" style="width: 100px; height: 80px;">
                        <img src="~/Content/flag_gif/USA_Flag_gif.webp" alt="" class="img-fluid">
                    </div>
                    <div class="ps-4">
                        <h5 class="text-primary mb-0 fw-bold">Barrownz.us</h5>
                        <p style="font-size:12px;">Barrownz Group 2/90, Vastu Khand Gomti Nagar Lucknow 226010</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow zoomIn" data-wow-delay="0.6s">
                <div class="bg-primary shadow d-flex align-items-center justify-content-center p-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center rounded mb-2 p-2" style="width: 100px; height: 80px;">
                        <img src="~/Content/flag_gif/AU_flag_gif.webp" alt="" class="img-fluid">
                    </div>
                    <div class="ps-4">
                        <h5 class="text-white mb-0 fw-bold">Barrownz.au</h5>
                        <p class="text-white" style="font-size:12px;">Barrownz Group 2/90, Vastu Khand Gomti Nagar Lucknow 226010</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts Start -->
<!--our design implement-->
<div class="container-fluid  design_color  wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5" id="main_containers">
        <div class="row" id="main_containers">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h6 class="text-primary fw-bold text-light">Our Best Sevices</h6>
                <h1 class="section-title">Your One-Stop, Customizable Digital Solutions</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="mt-4 text-end" id="content_1">
                    <h3 class="section-title">Website development &lt;&lt;</h3>
                    <ul class="list-unstyled text-light">
                        <li>Fully responsive & user-friendly &lt;&lt;</li>
                        <li>Front-end development &lt;&lt;</li>
                        <li>Back-end development &lt;&lt;</li>
                        <li>Scalable websites &lt;&lt;</li>
                        <li>Comprehensive testing &lt;&lt;</li>
                    </ul>
                    <a class="btn read-more-btn" href="#">Read More</a>
                </div>

                <div class="mt-4 text-end  content" id="content_2">
                    <h3 class="section-title">Search Engine Optimization (SEO) &lt;&lt;</h3>
                    <ul class="list-unstyled text-light">
                        <li>Local SEO &lt;&lt;</li>
                        <li>Building quality backlinks &lt;&lt;</li>
                        <li>Organic traffic growth &lt;&lt;</li>
                        <li>Enhances user experience&lt;&lt;</li>
                        <li>Google Business Profile &lt;&lt;</li>
                    </ul>
                    <a class="btn read-more-btn" href="#">Read More</a>
                </div>

                <div class="mt-4 text-end  content" id="content_3">
                    <h3 class="section-title">Digital Marketing &lt;&lt;</h3>
                    <ul class="list-unstyled text-light">
                        <li>Quality Keyword Targeting &lt;&lt;</li>
                        <li>Using Popular PPC platforms &lt;&lt;</li>
                        <li>Controlled budget and cost management &lt;&lt;</li>
                        <li>Performance tracking and analytics &lt;&lt;</li>
                        <li>Instant traffic and brand visibility &lt;&lt;</li>
                    </ul>
                    <a class="btn read-more-btn" href="#">Read More</a>
                </div>

                <div class="mt-4 text-end content" id="content_4">
                    <h3 class="section-title">Graphic Design &lt;&lt;</h3>
                    <ul class="list-unstyled text-light">
                        <li>Focuses on branding aesthetics &lt;&lt;</li>
                        <li>Motion graphics and animation &lt;&lt;</li>
                        <li>Digital illustration and drawing &lt;&lt;</li>
                        <li>High-quality content  &lt;&lt;</li>
                        <li>Branding and logo design &lt;&lt;</li>
                    </ul>
                    <a class="btn read-more-btn" href="#">Read More</a>
                </div>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 col-lg-3 mb-3" id="Box_1">
                <a href="#main_containers">
                    <div class="service-card border border-light">
                        <div class="service-icon_Box">
                            <i class="fa fa-shield-alt text-white"></i>
                        </div>
                        <h4 class="fw-bold text-light p-0">Website development </h4>
                        <p class="">Unique, scalable <br /> web development</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-3" id="Box_2">
                <a href="#main_containers">
                    <div class="service-card border border-light">
                        <div class="service-icon_Box">
                            <i class="fa fa-search text-white"></i>
                        </div>
                        <h4 class="fw-bold text-light">Search Engine Optimization</h4>
                        <p>Improve your rankings using our SEO solutions</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3 mb-3" id="Box_3">
                <a href="#main_containers">
                    <div class="service-card border border-light">
                        <div class="service-icon_Box">
                            <i class="fa-solid fa-chart-simple text-white"></i>
                        </div>
                        <h4 class="fw-bold text-light">Digital Marketing</h4>
                        <p class="mb-5">Engage, convert, optimize, strategize, grow.</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-3 mb-3" id="Box_4">
                <a href="#main_containers">
                    <div class="service-card border border-light">
                        <div class="service-icon_Box">
                            <i class="fa-solid fa-pen-nib text-white"></i>
                        </div>
                        <h4 class="fw-bold text-light">Graphic Design</h4>
                        <p class="mb-5">Grow your business using visual strategies</p>
                    </div>
                </a>
            </div>
        </div>
        <br />
        <div class="d-flex align-items-center justify-content-center">
            <a class="btn read-more-btn" href="#">View more</a>
        </div>
    </div>
</div>
<!--our design implement-->
<!-- Our Section start-->
<div class="container-fluid mt-4 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">

            <div class="col-lg-6  col-sm-12">
                <div class="image-container">
                    <div class="image-wrapper d-flex flex-column gap-2">
                        <img src="~/Content/img/about.jpg" alt="Image 1">
                        <img src="~/Content/img/feature.jpg" alt="Image 2">
                        <img src="~/Content/img/dis_1.jpg" alt="Image 3">
                        <img src="~/Content/img/about.jpg" alt="Image 4">
                        <img src="~/Content/img/about.jpg" alt="Image 1">
                        <img src="~/Content/img/feature.jpg" alt="Image 2">
                        <img src="~/Content/img/dis_2.jpg" alt="Image 3">
                        <img src="~/Content/img/about.jpg" alt="Image 4">
                        <img src="~/Content/img/about.jpg" alt="Image 1">
                        <img src="~/Content/img/feature.jpg" alt="Image 2">
                        <img src="~/Content/img/dis_1.jpg" alt="Image 3">
                        <img src="~/Content/img/about.jpg" alt="Image 4">
                        <img src="~/Content/img/about.jpg" alt="Image 1">
                        <img src="~/Content/img/feature.jpg" alt="Image 2">
                        <img src="~/Content/img/dis_2.jpg" alt="Image 3">
                        <img src="~/Content/img/about.jpg" alt="Image 4">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">
                        We Cover
                    </h5>
                    <h1 class="mb-0">Every Minor Aspect of Your Business to Improve</h1>
                </div>
                <p class="mb-4">
                    Barrownz Group offers top-rated digital solutions for your business, giving it a new direction for growth. Our expert team ensures you feel more relaxed about your online business presence.
                </p>

                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Give us a call for any doubts</h5>
                        <h4 class="text-primary mb-0">+91 9076760002</h4>
                    </div>
                </div>
                <a href="#" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request A Quote</a>
            </div>

        </div>
    </div>
</div>
<!-- Our Section end -->
<!--logos scroller start-->
<div class="container-fluid  wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="bg-white">
            <div class="owl-carousel vendor-carousel ">
                <img src="~/Content/icon_image/1.jpg" alt="logo" class="img-fluid">
                <img src="~/Content/icon_image/2.jpg" alt="logo" class="img-fluid">
                <img src="~/Content/icon_image/3.jpg" alt="logo" class="img-fluid">
                <img src="~/Content/icon_image/4.jpg" alt="logo" class="img-fluid">
                <img src="~/Content/icon_image/5.jpg" alt="logo" class="img-fluid">
                <img src="~/Content/icon_image/6.jpg" alt="logo" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- logos scroller start -->
<!--box slider section start-->
<div class="container-fluid py-4 overflow-hidden wow fadeInUp" data-wow-delay="0.1s" style="overflow-x:hidden !important; background: #06A3DA;">
    <div class="section-title text-center position-relative mt-4  mb-4 mx-auto" style="max-width: 800px;">
        <h5 class="fw-bold text-primary text-uppercase text-light">OUR HAPPY CLIENTS</h5>
        <h1 class="mb-0">Barrownz focuses on client satisfaction by providing quality solutions and supporting business growth.</h1>
    </div>
    <div class="container position-relative d-flex  justify-content-center  " style="height:400px; background: #06A3DA;">
        <div class="box">
            <div class="item">
                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-3" style="margin:20px 30px !important;">
                        <img src="~/Content/img/testimonial-2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b> John</b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">
                        I reached out to Barrownz Group for web development and SEO. They created a great website for us and helped improve our search rankings. Our traffic increased, and we started getting more sales. Their work truly helped our business grow.
                    </p>
                </div>

            </div>
            <div class="item">

                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/testimonial-4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>Sarah </b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">
                        We needed help with our PPC ads and website optimization. Barrownz Group took care of everything and improved our website's performance. We saw more visitors and got better results. Their team was really helpful and professional.
                    </p>
                </div>

            </div>
            <div class="item">

                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/user.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>Michael  </b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">
                        Barrownz Group handled our SEO and web development needs. They optimised our site, and we started ranking higher in search results. Our business grew, and we noticed more customers coming in. I highly recommend their services.
                    </p>
                </div>

            </div>
            <div class="item">

                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/testimonial-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>Emma</b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">We approached Barrownz Group for help with paid marketing. Their effective paid marketing strategies were a game changer, and their team was always available to assist us. We highly recommend their expertise for business growth. </p>
                </div>

            </div>

            <div class="item">
                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5 overflow-hidden" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/testimonial-3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>David</b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">
                        We asked Barrownz Group to help with SEO and website optimisation. They made our site faster and easier to use. After their improvements, we saw more visitors and increased sales. We are really happy with the results.
                    </p>
                </div>

            </div>
            <div class="item">

                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/user.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>Michael</b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">

                        Barrownz Group handled our SEO and web development needs. They optimised our site, and we started ranking higher in search results. Our business grew, and we noticed more customers coming in. I highly recommend their services.

                    </p>
                </div>

            </div>
            <div class="item">
                <div class="text_holder d-flex align-items-center justify-content-end w-100 px-5" style="height: 100px;">
                    <div class="D3_image_holder mx-4 my-1">
                        <img src="~/Content/img/testimonial-4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="name">
                        <h5><b>Sarah</b></h5>
                    </div>
                </div><br />
                <div class="mt-3" style="width: 100%; height: 100%;">
                    <p style="font-size:15px;">

                        We needed help with our PPC ads and website optimization. Barrownz Group took care of everything and improved our website's performance. We saw more visitors and got better results. Their team was really helpful and professional.

                    </p>
                </div>

            </div>
        </div>

    </div>

    <div class="buttonss position-relative d-flex align-items-center justify-content-center ">
        <div class="buttons  position-absolute">
            <span class="prev"></span>
            <span class="next"></span>
        </div>
    </div>
</div>
<!--box slider section end-->
<!--video section and modal section start-->
<div class="container-fluid py-5" style="margin-bottom:-200px;">
    <div class="container">
        <div class="holder position-relative d-flex align-items-center justify-content-center">
            <!-- Video Thumbnail -->
            <video src="~/Content/video/3626148-uhd_4096_2160_25fps.mp4" autoplay muted loop class="img-fluid"></video>
        </div>
    </div>
</div>
<!--video section and modal section end-->
<!--Our company start-->
<div class="container_fluid design_color " style="padding-top: 180px;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center ">
                <div class="">
                    <h1 style="font-size: 60px !important; color: white;">
                        Why You <br /> Should Choose <br /> Barrownz?
                    </h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-plus me-2"></i> Creative Team
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Our creativity challenges norms, pushing boundaries to innovate and develop unique, groundbreaking ideas.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header " id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-plus me-2"></i>
                                24/7 Available
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Our team is available 24/7, ensuring support, assistance, and solutions whenever you need them.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-plus me-2"></i> Commit to quality
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">We prioritize quality over quantity, ensuring exceptional standards in everything we deliver and every project we complete.</div>
                        </div>
                    </div>

                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="fas fa-plus me-2"></i> Best Digital Solutions
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">We offer top-rated digital solutions according to your niche ensuring maximum relevance and effectiveness.</div>
                        </div>
                    </div>

                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="fas fa-plus me-2"></i> Forward-thinking
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">We offer top-rated digital solutions according to your niche ensuring maximum relevance and effectiveness.</div>
                        </div>
                    </div>

                    <div class="accordion-item mb-2" style="border-radius: 10px !important; overflow: hidden;">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <i class="fas fa-plus me-2"></i>Client Satisfaction
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Client satisfaction is our priority, we focus on ensuring every client is happy with our digital services.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--Our Company-->

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>Our Company</h2>
                <h3 class="text-light pr-4" style="font-size: 40px;">Barrownz Group Is Your One-Stop-Solution For<br /> All Digital Solutions in <br>the USA.</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-light">We are a leading software development and digital marketing company across the USA with a proven track record of helping businesses grow. Our team of experts combines years of experience, technical knowledge, and industry best practices to create customer-focused solutions. We focus on improving your operations and driving long-term growth. </p>
                <p class="text-light">At Barrownz Group, we aim to make your journey smoother by taking the stress out of the process. Our dedicated team works hard to ensure you feel more relaxed and confident as we support your business transformation and success. Let us help you achieve your business goals.</p>
            </div>
        </div>
    </div>
</div>
<!--Our company end-->
<!--Professional & Impactful-->
<div class="container-fluid py-5 mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <h5 class="fw-bold text-primary text-uppercase text-center">Help & Suppoert</h5>
    <h1 class="text-center">Professional & Impactful</h1>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.3s" style="border-radius: 20px;">
                <div class="blog-item bg-light rounded overflow-hidden border border-muted">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/img_dis_1.webp" alt="">
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-column py-3">
                        <h4 class="mb-3">Our Service</h4>
                        <p>How Can Help</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.6s">
                <div class="blog-item bg-light rounded overflow-hidden border border-muted">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/img_dis_2.webp" alt="">
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-column py-3">
                        <h4 class="mb-3">Our Experties</h4>
                        <p>Why Partner with Us</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow slideInUp" data-wow-delay="0.9s">
                <div class="blog-item bg-light rounded overflow-hidden border border-muted">
                    <div class="blog-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="~/Content/img/img_dis_3.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-column py-3">
                        <h4 class="mb-3">Our Customers</h4>
                        <p>Clients Success Story</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Features Start 2-->
<div class="container-fluid  wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Fresh Ideas</h5>
            <h1 class="mb-0">Featured Posts with New Angles</h1>
        </div>
        <div class="row d-flex Fresh_ideas">
            <div class="col-lg-5 p-0 colors" style="box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);">
                <div> <img src="~/Content/img/img_dis_1.webp" alt="" class="img-fluid w-100"></div>
                <div class="p-5 first_">
                    <h3>Increase YourIncrease Your Instagram Visibility with These Simple Steps</h3><br>
                    <a href="#" class="btn btn-primary">Read more </a>
                </div>
            </div>
            <div class="col-lg-7 pl-5 Fresh_ideas">
                <div class=" d-flex flex-column gap-2  justify-content-between">
                    <div class=" gap-3 d-sm-flex p-3 colors" style="box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);">
                        <div class="images">
                            <img src="~/Content/img/img_dis_2.webp" alt="" class="img-fluid">
                        </div>
                        <div class="info_s d-flex flex-column justify-content-between">
                            <h4 class="py-2">Increase Your Instagram Visibility with These Simple Steps</h4>
                            <div class="d-flex gap-5">
                                <p>November 7,2024</p>
                                <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="gap-3 d-sm-flex p-3 colors" style="box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);">
                        <div class="images">
                            <img src="~/Content/img/img_dis_3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="info_s d-flex flex-column justify-content-between">
                            <h4 class="py-2">The Digital Marketing Playbook for Expanding Your Reach</h4>
                            <div class="d-flex gap-5">
                                <p>November 7,2024</p>
                                <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>


                    <div class=" gap-3 p-3 d-sm-flex colors" style="box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);">
                        <div class="images">
                            <img src="~/Content/img/img_dis_1.webp" alt="" class="img-fluid">
                        </div>
                        <div class="info_s d-flex flex-column justify-content-between ">
                            <h4 class="py-2">Increase Your Instagram Visibility with These Simple Steps</h4>
                            <div class="d-flex gap-5">
                                <p>November 7,2024</p>
                                <a href="#">Read more <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features Start  2-->
<!-- Service Start -->
<div class="container-fluid  wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa-solid fa-pen-nib text-white"></i>
                    </div>
                    <h4 class="mb-3">Graphic Design</h4>
                    <p class="m-0">Visual communication using typography, color, images, and layout for design.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa-solid fa-i-cursor text-white"></i>
                    </div>
                    <h4 class="mb-3">Video Editing</h4>
                    <p class="m-0">Video editing enhances visuals, cuts scenes, adds effects, transitions, and audio.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-code text-white"></i>
                    </div>
                    <h4 class="mb-3">Web Development</h4>
                    <p class="m-0">Web development creates websites using coding, design, databases, and user experience.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Apps Development</h4>
                    <p class="m-0">App development builds software for mobile or desktop using coding and design.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">SEO Optimization</h4>
                    <p class="m-0">SEO improves website ranking through keywords, content, backlinks, and optimization.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">Call Us For Quote</h3>
                    <p class="text-white mb-3">Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est magna stet eirmod</p>
                    <h5 class="text-white mb-0">+91 9076760002</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Quote Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Request A Quote</h5>
                    <h1 class="mb-0">Require a free quote? We're here to help, contact us.</h1>
                </div>
                <div class="row gx-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>Reply within 24 hours</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>24 hrs telephone support</h5>
                    </div>
                </div>
                <p class="mb-4">
                    If you're looking to grow your business online, we are your one-stop solution. We offer everything you need to take your business digital, from web development to social media marketing. Our team works closely with you to create effective strategies that improve your online presence and help you reach more customers. Whether you need a new website, SEO services, or social media marketing, we’ve got you covered. We are committed to helping your business succeed in the digital world. Contact us now to get started and see how we can help your business grow.
                </p>
                <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">
                            Give us a call for any doubts
                        </h5>
                        <a href="tel:9076760002" class="text-primary mb-0 fs-4"> +91 9076760002</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="bg-primary rounded h-100 d-flex align-items-center p-5 wow zoomIn" data-wow-delay="0.9s">
                    <form onsubmit="return validate()">
                        <div class="row g-3">
                            <div class="col-xl-12">
                                <input type="text" class="form-control bg-light border-0" id="name" placeholder="Your Name" style="height: 55px;">
                                <span id="name_error" class="text-danger"></span>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control bg-light border-0" id="email" placeholder="Your Email" style="height: 55px;">
                                <span id="email_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <select class="form-select bg-light border-0" id="option" style="height: 55px;">
                                    <option selected>Select A Service</option>
                                    <option>Web development</option>
                                    <option>SEO Optimization</option>
                                    <option>Digital Marketing</option>
                                    <option>Graphic design</option>
                                </select>
                                <span id="option_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <textarea class="form-control bg-light border-0" id="message" rows="3" placeholder="Message"></textarea>
                                <span id="message_error" class="text-danger"></span>

                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Request A Quote</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quote End -->
<!--FAQ start-->
<div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="fAQ">
                    <h5>Frequently Asked Questions</h5>
                    <h1>Clearing the Air Around the Most Popular Queries</h1>
                </div>
                <div class="FQA_image">
                    <img src="~/Content/img/FAQ-image.webp" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 py-5 mt-5">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <!-- Question 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <i class="fas fa-plus me-2 text-primary"></i>How can Barrownz Group help my business grow?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We create custom digital strategies that improve your online presence, increase traffic, and boost conversions using expert web development, SEO, and digital marketing techniques.</div>
                        </div>
                    </div><br />

                    <!-- Question 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <i class="fas fa-plus me-2 text-primary"></i> Why should I choose Barrownz Group for web development?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Our team builds modern, responsive, and user-friendly websites that ensure fast loading speed, security, and a great user experience to help businesses succeed online. </div>
                        </div>
                    </div><br />

                    <!-- Question 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <i class="fas fa-plus me-2 text-primary"></i>
                                How does PPC advertising help my business?

                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Our PPC (Pay-Per-Click) campaigns ensure targeted traffic and high ROI, helping businesses attract potential customers quickly through Google Ads and social media ads. </div>
                        </div>
                    </div><br />

                    <!-- Question 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                <i class="fas fa-plus me-2 text-primary"></i> Can I get a customized digital marketing plan?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Yes! We analyze your business needs and create a personalized digital marketing strategy that fits your goals and budget.</div>
                        </div>
                    </div><br />

                    <!-- Question 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                <i class="fas fa-plus me-2 text-primary"></i>How can I get started with Barrownz Group?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Getting started is easy! Contact us today for a free consultation, and our experts will guide you on the best digital solutions for your business. </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--FAQ  end-->
<!--FAQ start 2ND-->
<div class="container-fluid mt-5 Upper_heading wow fadeInUp" data-wow-delay="0.1s">
    <div class=" text-center py-5 ">
        <h1 class="text-light">Barrownz Group – Your trusted solution for digital <br /> success in the USA.</h1>
    </div>

</div>
<div class="container-fluid wow fadeInUp" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 px-3 d-flex flex-column gap-2">
                <div class="Faq_holder">
                    <div class="d-flex align-items-center  border-bottom border-primary">
                        <h5 class=""> <img src="~/Content/img/arrow_1.png" alt="" class="img-fluid" style="width: 25px;"> Barrownz Group is the Best Digital Marketing Agency in the USA.</h5>
                    </div>
                    <p class="pt-1">
                        We provide top digital services in the USA, including web development, digital marketing, graphic design, and content creation. We are your all-in-one solution for all digital needs.
                    </p>
                </div>
                <div class="Faq_holder">
                    <div class="d-flex align-items-center  border-bottom border-primary">
                        <h5 class=""> <img src="~/Content/img/arrow_1.png" alt="" class="img-fluid" style="width: 25px;">Customized Digital Strategies for Every Business</h5>
                    </div>
                    <p class="pt-1">
                        Every business is unique, and so are our strategies. We create personalized digital solutions to your specific goals. From startups to enterprises, we ensure growth with innovative and result-driven strategies.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column gap-2">
                <div class="Faq_holder">
                    <div class="d-flex align-items-center border-bottom border-primary">
                        <h5 class=""> <img src="~/Content/img/arrow_1.png" alt="" class="img-fluid" style="width: 25px;">Our team is available 24/7 for <br /> our clients.</h5>
                    </div>
                    <p class="pt-1">
                        Our experienced team tracks your business updates 24/7. We identify issues in your business and find the best solutions to fix them digitally. Your success is our priority.
                    </p>
                </div>
                <div class="Faq_holder">
                    <div class="d-flex align-items-center  border-bottom border-primary">
                        <h5 class=""> <img src="~/Content/img/arrow_1.png" alt="" class="img-fluid" style="width: 25px;"> We focus on quality over quantity.</h5>
                    </div>
                    <p class="pt-1">
                        All our clients are happy because we focus more on quality of work. Our work guarantees 100% success and delivers the best results. Your success is our priority, and we always ensure quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FAQ  end 2ND-->
