
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5 d-flex align-items-center justify-content-center w-100">
    <div class="container w-auto">
        <img src="~/Content/icon_image/img8.png" class="img-fluid" />
    </div>
</div>

