
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid d-flex align-items-center justify-content-center w-100">
    <div class="container  d-flex align-items-center justify-content-center">
        <img src="~/Content/video/404 Error 2 2.gif" class="img-fluid w-75" />
    </div>
</div>

