
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_sction_common container-fluid">
    
    <div class="container py-4 ">
    <div class="row hero_sections_holder">
        <div class="col-lg-6 d-flex justify-content-center  flex-column">
            <h1>Our Portfolio</h1>
            <p class="lh-5">
                Our portfolio highlights a diverse array of projects that exemplify our commitment to innovation and quality. Each work reflects our expertise and creativity, showcasing our ability to meet client needs while delivering impactful results across various industries and disciplines.
            </p>
            <a class="ani_btn text-white" href="#">Contact US</a>

        </div>
        <div class="col-lg-6">
            <div class="cube-container mt-5">
                <div class="cube">
                    <div class="face front d-flex align-items-center justify-content-center">
                       <img src="~/Content/icon_image/Comlogo.png" class="img-fluid" />
                    </div>
                    <div class="face back d-flex align-items-center justify-content-center">
                        <img  src="~/Content/icon_image/barrownz-logo-2021.png"/>
                    </div>
                    <div class="face right d-flex align-items-center justify-content-center">
                        
                    </div>
                    <div class="face left d-flex align-items-center justify-content-center">

                    </div>
                    <div class="face top d-flex align-items-center justify-content-center">
                       
                    </div>
                    <div class="face bottom d-flex align-items-center justify-content-center">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid py-4 mt-3">
<div class="container d-flex align-items-center justify-content-center flex-column">
    <h1 class="py-2">Our Work</h1>
    <h6 class="py-2 text-center">A Quick Overview of Some of Our Projects.</h6>
    <p class="text-center">When we accept a project, we know our client places great trust in us. That is why we never let our energy down and work efficiently to deliver quality work before the time frame elapses. Our team enjoys creating futuristic masterpieces. Here are a few of them.</p>
</div>
</div>

<div class="container-fluid py-5">
    <div class="container ">
        <div class="row card_smaller_side ">

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front px-5">
                            <p class="title">FLIP CARD</p>
                            <p>A text can be written materials, such as books, magazines, newspapers, or online content. But it can also be other things, those that we may not associate with standard text. Text could be movies, scripts, paintings, songs, political cartoons, advertisements and maps.</p>
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/img/about.jpg" class="img-fluid" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">BACK</p>
                            <p>Leave Me</p>
                        </div>
                    </div>
                </div>

            </div>


        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back rounded-3">
                            <img src="~/Content/img/about.jpg" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">BACK</p>
                            <p>Leave Me</p>
                        </div>
                    </div>
                </div>

            </div>


        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/img/about.jpg" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-12 ">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">BACK</p>
                            <p>Leave Me</p>
                        </div>
                    </div>
                </div>

            </div>

        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <img src="~/Content/img/about.jpg" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-12 ">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <p class="title">FLIP CARD</p>
                            <p>Hover Me</p>
                        </div>
                        <div class="flip-card-back">
                            <p class="title">BACK</p>
                            <p>Leave Me</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

