
@{
    ViewBag.Title = "Portfolio | Barrownz Group";
    ViewBag.MetaDescription = " Explore the diverse portfolio of Barrownz Group, showcasing innovative projects and successful collaborations across digital marketing, software development, branding, and more.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Canonical {
    <link rel="canonical" href="https://barrownz.us/portfolio" />
}
<div class="hero_sction_common container-fluid">

    <div class="container py-5 ">
        <div class="row hero_sections_holder">
            <div class="col-lg-6 d-flex justify-content-center  flex-column">
                <h1>From Vision to Reality: Our Portfolio </h1>
                <p class="lh-5">
                    We have over 9 years of experience in web development and digital marketing in the USA. We build websites using the latest technologies and offer digital marketing, content creation, graphic design, and social media services. We are your one-stop shop for all your online and digital business needs.
                </p>
                <a class="ani_btn text-white" href="@Url.Action("ContactUs","Home")">Contact US</a>

            </div>
            <div class="col-lg-6">
                <div class="cube-container mt-5">
                    <div class="cube">
                        <div class="face front d-flex align-items-center justify-content-center">
                            <img src="~/Content/icon_image/Comlogo.png" class="img-fluid" />
                        </div>
                        <div class="face back d-flex align-items-center justify-content-center">
                            <img src="~/Content/icon_image/barrownz-logo-2021.png" />
                        </div>
                        <div class="face right d-flex align-items-center justify-content-center">

                        </div>
                        <div class="face left d-flex align-items-center justify-content-center">

                        </div>
                        <div class="face top d-flex align-items-center justify-content-center">

                        </div>
                        <div class="face bottom d-flex align-items-center justify-content-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4 mt-3">
    <div class="container d-flex align-items-center justify-content-center flex-column">
        <h2 class="py-2 text-center">Explore Our Winning Projects </h2>
        <h6 class="py-2 text-center">Some of Our Work at a Glance .</h6>
        <p class="text-center">Whether it’s web development, digital marketing, graphic design, or content creation, our team brings passion, creativity, and precision to every task. We don’t just complete projects; we craft digital experiences that are innovative, user-friendly, and future-ready. From websites to marketing campaigns, we love turning ideas into impactful digital solutions.</p>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container ">
        <div class="row card_smaller_side ">

            <div class="col-lg-6 col-md-12">
                <a href="https://gazetinternational.com/">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front border px-5">
                                <h2 class="text-decoration-underline">Gazet National Global Magazine</h2>
                                <p>We developed the complete website for Gazet National Global Magazine, including both the UI and back-end, with a modern UX design that ensures easy product navigation.</p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/GazetInternational.webp" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-md-12">

                <a href="#">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">Levier</h2>
                                <p>
                                    We designed a stunning, luxury-style website for lab-grown diamonds, showcasing elegant visuals and seamless navigation that reflects brand excellence.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <p class="title">BACK</p>
                                <img src="~/Content/PortfolioImages/Leveir.webp" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>

            </div>


        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <a href="https://magiccarshipping.com/">
                        <div class="flip-card-inner">
                            <div class="flip-card-front border">
                                <h2 class="text-decoration-underline">Magic Car Shipping</h2>
                                <p class="px-3">
                                    We built the Magic Car Shipping website using .NET technologies and provided SEO services to boost visibility and online performance.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/MagicCarShipping.webp" style="height:100%;" />
                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-lg-6 col-md-12">

                <div class="flip-card">
                    <a href="https://moderncarshipping.com/">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">Modern Car Shipping</h2>
                                <p class="px-3">
                                    We created a modern, clean design for a trustworthy car shipping service with strong branding, SEO setup, and mobile-friendly performance.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/ModernCarShipping.webp" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </a>
                </div>

            </div>


        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <a href="https://paragonflooringsc.com/">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">Paragon</h2>
                                <p class="px-3">We developed a flooring website with a strong focus on clean UI and smooth UX to enhance product browsing and engagement.</p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/ParagonFlooring.webp" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-6 col-md-12 ">

                <a href="https://securecarshipping.com/">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">Secure Car Shipping </h2>
                                <p class="px-3">
                                    We developed a user-friendly, secure, and responsive website offering affordable car shipping services with a smooth and reliable user experience.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/SecureCarShipping.webp" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        </div><br /><br />

        <div class="row card_smaller_side">

            <div class="col-lg-6 col-md-12">

                <a href="https://tfz.ae/">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">TfZ</h2>
                                <p class="px-3">
                                    We developed the website and executed SEO for the Dubai-based company TfZ, improving visibility, performance, and user engagement.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/TFZ.webp" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-6 col-md-12 ">

                <a href="">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <h2 class="text-decoration-underline">Valour Apparel </h2>
                                <p class="px-3">
                                    Built a stylish e-commerce store on WordPress with a custom UX design for smooth shopping, product showcase, and seamless checkout experience.
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img src="~/Content/PortfolioImages/Valour.webp" class="img-fluid" style="height:100%;" />
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        </div>

    </div>
</div>

