
@{
    ViewBag.Title = "PrivacyAndPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="PriavcyAndPolicy d-flex align-items-center justify-content-center flex-column ">
    <div class="layer d-flex align-items-center justify-content-center flex-column">
        <h2 class="text-primary  first_heading text-center animated zoomIn carousel_text Expert">
            Privacy And Policy
        </h2>
        <p class="text-white first_second text-center animated zoomIn carousel_text px-2">We’re a team of 300+ SEO experts working with the largest brands in India towards one clear goal: achieving business growth online.</p>

    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <h1>Privacy And Policy</h1>
        <p>SimpleTexting allows you to send SMS Text messages, have 1-on-1 conversations with your customers, send bulk texts, and provide customer service. You can also get a dedicated 6-digit short number for your business helping you stand out.</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <h1>Second Heading</h1>
        <p>SimpleTexting allows you to send SMS Text messages, have 1-on-1 conversations with your customers, send bulk texts, and provide customer service. You can also get a dedicated 6-digit short number for your business helping you stand out.</p>
        <p><b>I.</b> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><b>II.</b> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><b>III.</b>  Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><b>IV.</b> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><b>V.</b> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><b>VI.</b> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <h1>Second Heading</h1>
        <p>SimpleTexting allows you to send SMS Text messages, have 1-on-1 conversations with your customers, send bulk texts, and provide customer service. You can also get a dedicated 6-digit short number for your business helping you stand out.</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
        <p><i class="fa-regular fa-hand-point-right text-primary"></i> Start with a free plan and send up to 100 messages per month. Requires connection to a Twilio account. SimpleText is your organization's answer to cost efficient batch text messaging</p>
    </div>
</div>

