
@{
    ViewBag.Title = " Terms and Conditions | Barrownz Group";
    ViewBag.MetaDescription = "Read the simple terms and conditions of Barrownz Group to understand how we work, your rights, and our responsibilities.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="TermsAndCondition d-flex align-items-center justify-content-center flex-column ">
    <div class="layer d-flex align-items-center justify-content-center flex-column">
        <h1 class="text-white first_heading text-center animated zoomIn carousel_text Expert fs-1 only_one">
            Terms and Conditions
        </h1>
        @*<p class="text-white first_second text-center animated zoomIn carousel_text px-2">We’re a team of 300+ SEO experts working with the largest brands in India towards one clear goal: achieving business growth online.</p>*@

    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <h2>1. Terms</h2>
        <p>
            By accessing this website, you agree to be bound by these Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="container ">
        <h2>2. Use License</h2>
        <p>Permission is granted to temporarily download one copy of the materials (information or software) on Barrownz Group's website for personal, non-commercial, and transitory viewing only. This is the grant of a license, not a transfer of title. Under this license, you may not:</p>
        <p><i class="fa-solid fa-square-check text-primary"></i> Modify or copy the materials;</p>
        <p><i class="fa-solid fa-square-check text-primary"></i> Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</p>
        <p><i class="fa-solid fa-square-check text-primary"></i> Attempt to decompile or reverse engineer any software contained on Barrownz Group's website;</p>
        <p><i class="fa-solid fa-square-check text-primary"></i> Remove any copyright or other proprietary notations from the materials;</p>
        <p>
            <i class="fa-solid fa-square-check text-primary"></i> Transfer the materials to another person or "mirror" the materials on any other server.
        </p>
        <p>
            This license shall automatically terminate if you violate any of these restrictions and may be terminated by Barrownz Group at any time. Upon termination of your viewing of these materials or upon termination of this license, you must destroy any downloaded materials in your possession, whether in electronic or printed format.
        </p>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <h2>3. Disclaimer</h2>
        <p>
            The materials on Barrownz Group's website are provided "as is." Barrownz Group makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violations of rights. Furthermore, Barrownz Group does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet website or otherwise relating to such materials or on any sites linked to this site.
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <h2>4. Limitations</h2>
        <p>
            In no event shall Barrownz Group or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Barrownz Group's website, even if Barrownz Group or an authorized Barrownz Group representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        </p>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <h2>5. Revisions and Errata</h2>
        <p>
            The materials appearing on Barrownz Group's website could include technical, typographical, or photographic errors. Barrownz Group does not warrant that any of the materials on its website are accurate, complete, or current. Barrownz Group may make changes to the materials contained on its website at any time without notice. However, Barrownz Group does not commit to updating the materials.
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <h2>6. Links</h2>
        <p>
            Barrownz Group has not reviewed all of the sites linked to its internet website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by the Barrownz Group of the site. Use of any such linked website is at the user's own risk.
        </p>
    </div>
</div>
<div class="container-fluid py-5">
    <div class="container">
        <h2>7. Site Terms of Use Modifications</h2>
        <p>
            Barrownz Group may revise these Terms of Use for its website at any time without notice. By using this website, you are agreeing to be bound by the then-current version of these Terms and Conditions of Use.
        </p>
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container">
        <h2>8. Governing Law</h2>
        <p>
            Any claim relating to Barrownz Group's website shall be governed by the laws of the State of <b>[State name]</b>  without regard to its conflict of law provisions.
        </p>
    </div>
</div>